<header class="entry-header">
  <h1 class="entry-title">{{ post.title }}</h1>
  <blockquote class="entry-subtitle">{{ subtitle }}</blockquote>
  <img src="{{ img_src }}"
       srcset="{{ img_srcset }}"
       sizes=""
       alt=""
       original-image="{{ img_src_orig }}"
       original-height="{{ img_height }}"
       original-width="{{ img_width }}">
</header><!-- .entry-header -->